<!doctype html>
<html ng-app="Anim">
	<head>
		<script src="js/angular.min.js"></script>
		<script src="js/angular-animate.min.js"></script>
		<script src="js/angular-resource.min.js"></script>
		<script src="js/module.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css">
		<title>FB Self Help</title>
	</head>
	<body>
		<input type="text" ng-model="name">
		<h2>Hello {{name}}!</h2>
		<div ng-init="checked=true">
			<span>
				<input type="checkbox" ng-model="checked">
			</span>
			<div class="list-item" ng-show="checked">
				Visible...
			</div>
		</div>
	</body>
</html>
